<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(0)">
    
    0
    


   <!-- if (pulsado == false) {
        <input [(ngModel)]="num1" ; />
        pulsado = true;
        } else {
            <input [(ngModel)]="num2"; />
        }
    -->

</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(1)">
    1
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(2)">
    2
</button>

<br />

<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(3)">
    3
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(4)">
    4
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(5)">
    5
</button>

<br />

<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(6)">
    6
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(7)">
    7
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(8)">
    8
</button>

<br />

<button mat-fab aria-label="Example icon button with a delete icon" (click)="guardar(9)">
    9
</button>

<button mat-fab aria-label="Example icon button with a delete icon" (click)="sumar()">
    <mat-icon>add</mat-icon>
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="restar()">
    <mat-icon>remove</mat-icon>
</button>
<button mat-fab aria-label="Example icon button with a delete icon" (click)="mostrarResultado()">
    <mat-icon>calculate</mat-icon>
</button>