<div class="character-card">
    @for(character of listadoPersonajes; track character.name){
        <div class="card">
            <div class="card-header">
                <h2>{{ character.name }}</h2>
                <h4>{{ character.status }} - {{ character.species }}</h4>
            </div>
            <div class="card-body">
                <img [src]="character.image" alt="{{ character.name }}">
                <p><strong>Gender:</strong> {{ character.gender }}</p>
                <p><strong>Origin:</strong> {{ character.origin.name }}</p>
                <p><strong>Location:</strong> {{ character.location.name }}</p>
            </div>
        </div>
    }
</div>
