<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="pokemon?.sprites?.front_default" [alt]="pokemon?.name">
    <div class="card-body">
        <h5 class="card-title">{{pokemon?.name}}</h5>
        <a href="#" class="btn btn-primary">Attack</a>
        <ngb-progressbar
        class="mb-3"
        [type]="getProgressBarColor()"
        [value]="life"
        [striped]="true"
        [animated]="true"
        ><i>{{life}}</i></ngb-progressbar>
    </div>

    <button class="btn btn-danger" (click)="doAttack()">Attack</button>

    @if(isMyTurn == true){
        <button (click)="doAttack()" href="#" class="btn btn-primary">Attack</button>
    } @else {
        <button >Wating Attack</button>
    }

</div>


